@mixin link($color) {
  a, a::before, a::after {
    text-decoration: none;
    color: if($color, $content-link-color, $global-link-color);
  }

  a:active,
  a:hover {
    @if $color {
      text-decoration: underline;
      color: $global-link-hover-color
    } @else {
      color: $global-link-hover-color
    }
  }
}
