<article itemscope itemtype="http://schema.org/Article">
    <div class="summary">
        <header>
            <div>
                {{- /* Title */ -}}
                <h2 class="summary-title" itemprop="name headline">
                    <a href="{{ $.RelPermalink }}">{{ .Title }}</a>
                </h2>

                <div class="post-meta summary-post-meta">
                    {{- $categories := slice -}}
                    {{- range .Params.categories -}}
                    {{- $category := partialCached "function/path.html" . . | printf "/categories/%v" | $.Site.GetPage -}}
                    {{- $categories = $categories | append (printf `<span class="fas fa-folder meta-icon"></span><a href="%v">%v</a>` $category.RelPermalink $category.Title) -}}
                    {{- end -}}
                    {{- with delimit $categories "&nbsp;" -}}
                    <span class="meta-item post-category">
                        {{ . }}
                    </span>
                    {{- end -}}

                    {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
                    {{- $timeAgoDate:= $.Site.Params.TimeAgo.DateFormat | default "2006-01-02" | $.PublishDate.Format -}}
                    <span class="meta-item post-publish">
                        <span class="fas fa-clock meta-icon"></span>
                        {{- printf `<time class="timeago" datetime="%v">%v</time>` $timeAgoDate . | safeHTML -}}
                    </span>
                    {{- end -}}
                </div>
            </div>
        </header>

        <div class="article-text">
            <div class="content summary-content">
                {{ .Summary }}
            </div>
        </div>
        {{- with $.Params.tags -}}
        <div class="summary-post-tags">
            <span class="fas fa-tags meta-icon"></span>
            {{- range $index, $value := . -}}
            {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
            <a class="meta-tags" href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
            {{- end -}}
        </div>
        {{- end -}}
    </div>
</article>
