.index {
    .profile {
        padding: 0 0 .5rem 0;
        text-align: center;

        .profile-title {
            font-weight: bold;
            font-size: 1.25rem;
        }

        .profile-subtitle {
            font-weight: normal;
            font-size: 1rem;
        }
    }
}

.profile-photo {
    img {
        display: inline-block;
        width: 20rem;
        border-radius: 20%;
        box-shadow: 0 0 .3em .3em rgba(0, 0, 0, 0.1)
    }
}
