$global-font-family: sans-serif;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.6rem;
$global-font-color: #161209;

$global-background-color: #ffffff;
$header-background-color: #eee;

$global-color-accent: #2c678d;
$global-link-color: #161209;
$global-link-hover-color: $global-color-accent;
$content-link-color: $global-color-accent;
